In [1]:
#connection from db

import pandas as pd
import pyodbc
from sqlalchemy import create_engine


engine = create_engine('mssql+pyodbc://DESKTOP-F4QO4KO/AdventureWorksLT2019?driver=SQL+Server+Native+Client+11.0',fast_executemany=True)

In [ ]:

#insert to dataframe batch loading

sql = """

SELECT   top 5000000 *
FROM [SalesLT].[Address1]

"""
df = pd.read_sql(sql,engine, chunksize=10000)


df1 = pd.DataFrame()
for a in df:
    df1 = df1.append(a)

In [ ]:
for a in df: 
   # a.to_sql('test_tbl', con = engine, if_exists = 'append', schema='dbo',index=False)
    #a.to_csv('a.csv',index=False,  mode='a', sep=';')

In [ ]:
#breaking and loading a large file into diffeent eccel sheet by a certain num
sql = """select  a.ledger,acct_no
, acct_type,empl_id
, branch_no, amt
, description
, RSM
, Currency
, create_dt
,tran_code
, Credit
, Debit
from  gl_acct_history a"""

df = pd.read_sql(sql,engine, chunksize=1000000)

%%time
c = 1
for a in df:
   
    a.to_csv(f'excel_{c}.csv',index=False)
    c = c + 1

In [ ]:
# creating a bat file
# python exe path and python file app.py

"C:\Users\stone\AppData\Local\Programs\Python\Python310\python.exe" "C:\Users\stone\Documents\st\ap.py"

In [ ]:
# connecting to a postgresssql database
engine_postgres = create_engine("postgresql://postgres:obembe225@localhost:5433/AdventureWorks2014")

In [ ]:
# connecting to oracle database
engine = create_engine("oracle+cx_oracle://scott:tiger@hostname:port/?service_name=myservice&encoding=UTF-8&nencoding=UTF-8")

In [ ]:
# to fetch multiple table from a database into a csv fileS
df = pd.read_sql('sELECT table_name FROM information_schema.tables',engine)
for a in df['table_name']:
    df = pd.read_sql(f'select * from {a}',engine, chunksize=100)
    for b in df:
        b.to_csv(f'{a}.csv',index=False,  mode='a')

In [ ]:
# to fetch multiple table from a database into a csv fileS
df=pd.read_sql(sql,engine)
for a in df['table_name']:
    df=pd.read_sql('select * from {}'.format(i),engine,chunksize=100)
    for b in df:
        b.to_csv('{}.csv'.format(a),index=False,mode='a')